
p {
    text-align: center;
}
body {
    
}

.queen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30% 0;
    /* position: relative center; */
}

.head {
    position: relative center;
    margin: auto;
    width: 15rem;
    height: 19.5rem;
    background: #5B3C31;
    border-radius: 50%;
    z-index: -1;

}

/* --------------------- EYE ---------------------*/
.right-eye{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    top: 7.75rem;
    left: 9.5rem;
    border-radius: 100% 0px;
    transform: rotate(30deg); 

}
.eye-lid {
    position: absolute;
    width: 142%;
    height: 110%;
    top: .2rem;
    border-left: 20px;
    border-radius: 50%;
    border-bottom: .5rem solid black;
    box-shadow: 0 15px 0 0 #644539;
    /* box-shadow: 0 15px 0 0 #5B3C31; */
    transform: rotate(132deg);
}

.iris {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #260E06;
    border-radius: 50%;
}

.pupil {
    margin: auto;
    height: 1.6rem;
    width: 1.6rem;
    background-color: black;
    border-radius: 50%;
}

/* --------------------- NOSE --------------------- */

/* --------------------- MOUTH --------------------- */
.top-lip {

}


/* --------------------- HAIR --------------------- */
/* .wave1 {
    position: absolute;
    margin: 0 auto;
    width: 5rem;
    height: 15rem;
    transform: rotate(20deg);
    background: black;
}

.wave2 {
    position: absolute center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: black;
} */