p {
    text-align: center;
}

.queen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30% 0;
    /* position: relative center; */
}

.head {
    position: relative center;
    margin: auto;
    width: 15rem;
    height: 19.5rem;
    background: #502c1f;
    /* background: #5B3C31; */
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    z-index: -1;

}
   
/********************** HAIR **********************/
.hair {
    position: relative;
    height: 6.2rem;
}

.curl, .wave{
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

.w1 {
    position: absolute;
    /* margin: 0 auto; */
    top: -3rem;
    left: .5rem;
    width: 5rem;
    height: 15rem;
    border-radius: 50%;
    transform: rotate(60deg);
    /* background: pink; */
}

.w2 {
    position: absolute;
    margin: 0 auto;
    top: -1rem;
    left: -1rem;
    width: 5rem;
    height: 15rem;
    transform: rotate(26deg);
    /* background: blue; */
}

.w3 {
    position: absolute center;
    margin: 0 auto;
    width: 12rem;
    height: 5rem;
    top: -1rem;
    left: -3rem;
    transform: rotate(-12deg);
    /* background-color: pink; */
    z-index: 2;
}

.big {
    height: 5rem;
    width: 5rem;
}

.medium {
    height: 3rem;
    width: 3rem;
}

.little {
    height: 2rem;
    width: 2rem;
}


.bc1 {
    top: 4.5rem;
    left: 3rem;

}

.bc2 {
    top: 7rem;
    left: .7rem;
    /* background-color: blueviolet; */
}

.bc3 {
    top: 10rem;
    left: .5rem;
    /* background-color: blueviolet; */
}

.bc4 {
    top: 13rem;
    /* top: 14rem; */
    left: -1rem;
    /* background-color: blueviolet; */
}

.bc5 {
    top: 9rem;
    left: -5rem;
    /* background-color: blueviolet; */
}

.mc1 {
    top: 15.5rem;
    left: 2.5rem;
    /* background-color: burlywood; */
}

.mc2 {
    top: 17rem;
    left: 1.5rem;
    /* background-color: burlywood; */
}

.mc3 {
    top: 12rem;
    left: -2rem;
    /* background-color: burlywood; */
}

.lc1 {
    top: 8rem;
    left: 5rem;
    /* background-color: blueviolet; */
}

.lc2 {
    top: 14rem;
    left: 3rem;
    /* background-color: blueviolet; */
}

.lc3 {
    top: 17rem;
    left: 1rem;
    /* background-color: blueviolet; */
}

.lc4 {
    top: 17.8rem;
    left: 3.7rem;
    /* background-color: blueviolet; */
}

.lc5 {
    top: 18.8rem;
    left: 3.2rem;
    /* background-color: blueviolet; */
}



/********************** EYE **********************/
.right-eye{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    /* top: 7.75rem; */
    top: 1.75rem;
    left: 9.5rem;
    border-radius: 100% 0px;
    transform: rotate(30deg); 

}
.eye-lid {
    position: absolute;
    width: 142%;
    height: 110%;
    top: .2rem;
    /* border-left: 20px; */
    border-radius: 50%;
    border-bottom: .5rem solid black;
    /* border-color: #5B3C31 #5B3C31 black #5B3C31; */
    /* box-shadow: 0 15px 0 0 #644539; */
    box-shadow: 0 .9rem 0 0 #573123;
    /* box-shadow: 0 15px 0 0 #5B3C31;*/
    transform: rotate(132deg);
}

.iris {
    display: flex;
    align-items: center;
    /* height: 3rem;
    width: 3rem; */

    height: 86%;
    width: 86%;
    background-color: #260E06;
    border-radius: 50%;
}

.pupil {
    margin: auto;
    height: 54%;
    width: 54%;
    /* height: 1.6rem;
    width: 1.6rem; */
    background-color: black;
    border-radius: 50%;
}

/********************** NOSE **********************/
.nose {
    position: relative;
    margin: auto;
    height: 1.6rem;
    width: 2.2rem;
    /* top: 2rem; */
    top: 2.5rem;
    /* background-color: black; */
    box-shadow: 0 -.1rem 0 0 #3b241c;
    /* box-shadow: 0 -.1rem 0 0 #493027; */
    border-radius: 50%;
}

/********************** MOUTH **********************/
.mouth { /* adjust mouth height here */
    position: relative;
    top: 2rem;
}

.lip {
    background: rgb(116, 3, 3);

}

.inner-mouth {
    position: relative;
    margin: 0 auto;
    height: .1rem;
    width: 3rem;
    top: 2.5rem;
    overflow: hidden;
    z-index: 1;
}
/* .inner-mouth::before {
    display: block;
    content: '';
    height: 1rem;
    width: 3rem;
    background: black;
    border-radius: 50%;
} */

.inner-mouth::after {
    display: block;
    content: '';
    height: 1rem;
    width: 3rem;
    background: black;
    border-radius: 50%;
}

.top {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-style: none;
    margin-top: 20px;
}

.top.left {
    left: 5.6rem;
    border-radius: 0 80% 50% 80%;
    transform: rotate(-40deg);
}

.top.right {
    left: 7.4rem;
    border-radius: 0 80% 50% 80%;
    transform: rotate(40deg) scale(-1, 1);
}

.bottom.lip {
    position: relative;
    top: 1.6rem;
    width: 4rem;
    height: 1.8rem;
    margin: 0 auto;
    /* background: rgb(136, 5, 5); */
    border-radius: 4rem / 2rem;
    z-index: -1;
}
