p {
    text-align: center;
}

.queen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30% 0;
    /* position: relative center; */
}

.head {
    position: relative center;
    margin: auto;
    width: 15rem;
    height: 19.5rem;
    background: #5B3C31;
    border-radius: 50%;
    z-index: -1;

}

/* --------------------- HAIR --------------------- */
.hair {
    position: relative;
    top: 0;
}

.wave1 {
    position: absolute;
    margin: 0 auto;
    width: 5rem;
    height: 15rem;
    transform: rotate(20deg);
    background: black;
}

.wave2 {
    position: absolute center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: black;
}

/* --------------------- EYE --------------------- */
.right-eye{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    /* top: 7.75rem; */
    top: 1.75rem;
    left: 9.5rem;
    border-radius: 100% 0px;
    transform: rotate(30deg); 

}
.eye-lid {
    position: absolute;
    width: 142%;
    height: 110%;
    top: .2rem;
    border-left: 20px;
    border-radius: 50%;
    border-bottom: .5rem solid black;
    border-color: #5B3C31 #5B3C31 black #5B3C31;
    box-shadow: 0 15px 0 0 #644539;
    /* box-shadow: 0 15px 0 0 #5B3C31;*/
    transform: rotate(132deg);
}

.iris {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #260E06;
    border-radius: 50%;
}

.pupil {
    margin: auto;
    height: 1.6rem;
    width: 1.6rem;
    background-color: black;
    border-radius: 50%;
}

/* --------------------- NOSE --------------------- */
.nose {
    position: relative;
    margin: auto;
    height: 1.6rem;
    width: 2.2rem;
    top: 2rem;
    /* background-color: black; */
    box-shadow: 0 -.1rem 0 0 #493027;
    border-radius: 50%;
}

/* --------------------- MOUTH --------------------- */
.mouth { /* adjust mouth height here */
    position: relative;
    top: 2rem;
}

.inner-mouth {
    position: relative;
    margin: 0 auto;
    height: .1rem;
    width: 3rem;
    top: 2.5rem;
    overflow: hidden;
    /* transform: scale(1, -1); */
    z-index: 1;
}
.inner-mouth::before {
    display: block;
    content: '';
    height: 1rem;
    width: 3rem;
    background: black;
    border-radius: 50%;
}

.inner-mouth::after {
    display: block;
    content: '';
    height: 1rem;
    width: 3rem;
    background: black;
    border-radius: 50%;
}

.top-lip-left {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 5.6rem;
    background: rgb(116, 3, 3);
    border-style: none;
    border-radius: 0 80% 50% 80%;
    transform: rotate(-40deg);
    margin-top: 20px;
}

.top-lip-right {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 7.4rem;
    background: rgb(116, 3, 3);
    border-style: none;
    border-radius: 0 80% 50% 80%;
    transform: rotate(40deg) scale(-1, 1);
    margin-top: 20px;
}

.bottom-lip {
    position: relative;
    top: 1.6rem;
    width: 4rem;
    height: 1.8rem;
    /* height: 2rem; */
    margin: 0 auto;
    background: rgb(116, 3, 3);
    /* background: rgb(136, 5, 5); */
    border-radius: 4rem / 2rem;
    z-index: -1;
}
